(
    move_left: Some(( code: Char('h'), modifiers: "")),
    move_right: Some(( code: Char('l'), modifiers: "")),
    move_up: Some(( code: Char('k'), modifiers: "")),
    move_down: Some(( code: Char('j'), modifiers: "")),
    popup_up: Some(( code: Char('p'), modifiers: "CONTROL")),
    popup_down: Some(( code: Char('n'), modifiers: "CONTROL")),
    page_up: Some(( code: Char('u'), modifiers: "CONTROL")),
    page_down: Some(( code: Char('f'), modifiers: "CONTROL")),

    toggle_verify: Some(( code: Char('v'), modifiers: "CONTROL")),
    open_help: Some(( code: F(1), modifiers: "")),
)
